body{
    background-image: url("https://img.freepik.com/free-vector/floral-with-cherry-blossoms-full-bloom-pink_8130-710.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1726012800&semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(33, 4, 83);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
}h2{
        color: rgb(33, 4, 83);
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
    
}.header {
    overflow: hidden;
    background-color: rgb(33, 4, 83);
    /*padding: 20px 10px;*/
  }
  
  .header img{
    height: 50px;
    width: 50px;
  }
  
  
  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(172, 9, 201);
    color: White;
  }
  
  .header a.active {
    background-color: rgb(54, 54, 1);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 4, 83);
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #content{
    color: rgb(231, 114, 5);
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 75px;
  }